<div ng-controller="geolibController" class="container-fluid full-height">
    <div id="map-row" class="row full-height">
        <div class="col-sm-3 col-md-2">
            <ul class="list-group">
                <li class="list-group-item"
                    ng-repeat="track in tracks"
                    ng-class="{ active: isActiveTrack(track)}"
                    ng-click="loadTrack(track)">
                    {{track.name}}
                </li>
            </ul>
            <input type="file" name="files[]" data-url="upload" data-js-selector="fileupload" multiple>
        </div>
        <div id="map-canvas" class="col-sm-9 col-md-10 full-height"></div>
    </div>
</div>
